<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
{% if page_direction == 'rtl' %}
	{% set direction = 'rtl'%}
{% endif %}
<html dir="{{ direction }}" lang="{{ lang }}" class="{{ responsive ? mobile-responsive-off : '' }}">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<base href="{{ base }}" />

	{% if description %}
		<meta name="description" content="{{ description }}" />
	{% endif %}

	{% if keywords %}
		<meta name="keywords" content="{{ keywords }}" />
	{% endif %}

	{% for meta in add_this_meta %}
		<meta property="og:{{ meta.property }}" content="{{ meta.content }}" />
	{% endfor %}

	{# fonts #}
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/material-design.css" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/linearicons.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
	{# end fonts #}

	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />

	{# styles #}
	<link href="catalog/view/theme/{{ theme_path }}/js/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/stylesheet.css" rel="stylesheet">
	{# end styles #}
	{# rtl #}
	{% if direction == 'rtl' %}
		<link href="catalog/view/theme/{{ theme_path }}/stylesheet/bootstrap-rtl.css" rel="stylesheet">
		<link href="catalog/view/theme/{{ theme_path }}/stylesheet/rtl.css" rel="stylesheet">
	{% endif %}
	{# end rtl #}
	{% for style in styles %}
		<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}

	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}

	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

	{% for script in scripts %}
		<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}

	{% for analytic in analytics %}
		{{ analytic }}
	{% endfor %}
</head>
<body>
	<p id="gl_path" class="hidden">{{ theme_path }}</p>
	<div id="page">
		<div id="page-preloader" class="visible">
			<div class="preloader">
				<div class="loader linearicons-refresh"></div>
			</div>
		</div>
		<div class="ie-warning">
			<a href="//windows.microsoft.com/en-us/internet-explorer/download-ie">
				<img src="catalog/view/theme/{{ theme_path }}/image/warning_bar_0000_us.jpg" height="75" width="1170" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
			</a>
		</div>
		<div class="demo-border">
				<div class="container">
						<a href="https://www.templatemonster.com/opencart-templates/auto-parts-responsive-opencart-template-65320.html" class="demo-img"><img src="image/catalog/demo/Electromo.jpg" alt=""></a>
				</div>
				</div>
		<header>
			<div class="container">
				<div class="top-line">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="fl-right">
								{{ language }}
								{{ currency }}
							</div>
							{% if header_top %}
								<div class="header_modules">
									{{ header_top }}
								</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="mid-line">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
							<div id="logo" class="logo">
								{% if logo %}
									<a href="{{ home }}">
										<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
									</a>
								{% else %}
									<h1>
										<a href="{{ home }}">{{ name }}</a>
									</h1>
								{% endif %}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fl-right">
							<div class="phone">
								<a href="callto:{{ telephone|replace(' ', '') }}"><i class="linearicons-telephone"></i>{{ telephone }}</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 fl-left">
							{{ search }}
						</div>
					</div>
				</div>
				<div class="bot-line">
					<div class="row">
						{% if home_page %}
							{%set class1 = 'col-xs-12 col-sm-4 col-md-3 col-lg-3' %}
						{% else %}
							{%set class1 = 'hidden-xs hidden-sm hidden-md hidden-lg' %}
						{% endif %}
						<div class="{{ class1 }}">
							{% if navigation %}
								<div class="navigation">
									{{ navigation }}
								</div>
							{% endif %}
						</div>
						{% if home_page %}
							{%set class = 'col-xs-12 col-sm-8 col-md-9 col-lg-9' %}
						{% else %}
							{%set class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12' %}
						{% endif %}
						<div class="{{ class }}">
							<nav id="top-links" class="nav toggle-wrap" data-match-height="items-header">
								<a class="toggle linearicons-cog2" href='#'></a>
								<ul class="toggle_cont toggle_menu">
									<li><a href="{{ home }}"><i class="linearicons-home icon2" data-toggle="tooltip" title="{{ text_home }}"></i><span>{{ text_home }}</span></a></li>
									<li><a href="{{ wishlist }}" id="wishlist-total"><i class="linearicons-star" data-toggle="tooltip" title="{{ text_wishlist }}"></i><span>{{ text_wishlist }}</span></a></li>
									<li><a href="{{ account }}"><i class="linearicons-user-lock" data-toggle="tooltip" title="{{ text_account }}"></i><span>{{ text_account }}</span></a></li>
									{% if logged %}
										<li><a href="{{ logout }}"><i class="linearicons-user" data-toggle="tooltip" title="{{ text_logout }}"></i><span>{{ text_logout }}</span></a></li>
									{% else %}
										<li><a href="{{ login }}"><i class="linearicons-user" data-toggle="tooltip" title="{{ text_login }}"></i><span>{{ text_login }}</span></a></li>
									{% endif %}
									<li><a href="{{ checkout }}"><i class="linearicons-check-square" data-toggle="tooltip" title="{{ text_checkout }}"></i><span>{{ text_checkout }}</span></a></li>
								</ul>
							</nav>
							{{ cart }}
						</div>
					</div>
				</div>
			</div>
		</header>
